<div class="cv-container">
  <iframe src="assets/MohamedAli_Mhadhbi_cv_IT.pdf"></iframe>

  <div class="cv-buttons">
    <a
      href="assets/MohamedAli_Mhadhbi_cv_IT.pdf"
      download="MohamedAli_Mhadhbi_CV.pdf"
      class="btn btn-primary"
    >
      Download CV
    </a>

    <a
      href="assets/MohamedAli_Mhadhbi_cv_IT.pdf"
      target="_blank"
      class="btn btn-secondary"
    >
      Open in New Tab
    </a>
    <a routerLink="/home" class="btn btn-secondary">Back to Home</a>

  </div>
</div>
