@import"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap";body,p,span,li,small,em,strong,label{font-family:Inter,sans-serif;font-weight:300;font-size:large}h1,h2,h3,h4,h5,h6{font-family:inherit}
