.projects-section {
  padding: 5rem 2rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}
h2 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-size: 2.5rem;
}
.project-card {
  color: #fff;
  background: rgba(255, 255, 255, 0.096);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.tech-logos i {
  font-size: 2rem;
  margin: 5px;
}

.btn-view {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #7b2ff7;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.55);
  z-index: 2000;
}

.modal-content {
  background: rgba(255, 255, 255, 0.74);
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 15px;
  position: relative;
}

.close {
  font-size: 2rem;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.tech-names span {
  display: inline-block;
  margin-right: 10px;
  color: #555;
}

.project-links a {
  display: inline-block;
  margin: 10px;
  padding: 0.7rem 1.4rem;
  background: #7b2ff7;
  color: #fff;
  border-radius: 8px;
}
