<section id="home" class="home-section">


  <div class="home-content">
    <img src="assets/profile.png" alt="Profile" class="popup-img" />
    <h1>Hi, I'm {{ name }}</h1>
    
    <h2 class="typed-text">{{ currentRole }}</h2>
    <br>
    <br>
    <!-- Buttons -->
    <div class="home-buttons">
      <a routerLink="/projects" routerLinkActive="active" class="btn btn-primary">View My Work</a>
      <a routerLink="/cv" class="btn btn-primary" >Visualize CV</a>
      
    </div>
<!-- Social Media -->
     <div class="social-icons">
      <a href="https://github.com/DalisProjects" target="_blank"><i class="fab fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/dalimh/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://www.instagram.com/dalinamh/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="https://wa.me/+393511587478" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a>
    </div>
    
  </div>
  
</section>
